{% extends 'base_restaurateur_page.html' %}

{% block title %}Необработанные заказы | Star Burger{% endblock %}

{% block content %}
  <center>
    <h2>Необработанные заказы</h2>
  </center>

  <hr/>
  <br/>
  <br/>
  <div class="container">
   <table class="table table-responsive">
    <tr>
      <th>ID заказа</th>
      <th>Цена заказа</th>
      <th>Клиент</th>
      <th>Телефон</th>
      <th>Адрес доставки</th>
    </tr>

    {% for item in order_items %}
      <tr>
        <td>{{ item.orders.id }}</td>
        <td>{{ item.price }}</td>
        <td>{{ item.orders.firstname }} {{ item.orders.lastname }}</td>
        <td>{{ item.orders.phonenumber }}</td>
        <td>{{ item.orders.address }}</td>
      </tr>
    {% endfor %}
   </table>
  </div>
{% endblock %}
